*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
display: flex;
justify-content: space-around;
background-color: gray;
padding: 12px;
margin: 5px;
width: 100%;

}

ul{
display: flex;

}
li{
list-style: none;
 margin: 6px; 
/* padding: 6px; */

}

.container{
    width: 100%;
    display: flex;
    height: 300px;
    padding: 50px;
    justify-content: space-evenly;
    margin: 13px;

    
    
}
.box{
border: 2px solid;
margin: 12px;
width: 300px;
height: 150px;
}

.OKPARA{
    background-color: brown;
    height: 200px;
    width: 100%;
margin: 13px;
}
.TV{
    background-color: chocolate;
    height: 200px;
    margin: 13px;
    width: 100%;

}

